* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: linear-gradient(#020024, #090979, #01bbef, #00d4ff);
}

h1 {
    font-family: 'Kalam', cursive;
    color: azure;
}

h1,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 1.8rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
}

form button{
    color: #ff007a;
    background-color: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover{
    color: white;
    background-color: #ff007a;
}

.fa fa-plus-circle{
    margin-top: 0.3rem;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: #090979;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li{
    flex: 1;
}

.trash-btn,
.complete-btn{
    color: white;
    border: none;
    padding: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn{
    background-color: #ff007a;
}

.trash-btn{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: #c200ff;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa fa-trash,
.fa fa-check-circle{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.slide{
    transform: translateX(10rem);
    opacity: 0;
}

 /* select{
     -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    outline: none;
    border: none;
} */

/* .select-status{
    color: #ff007a;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}   */

/* .select-status .filter-todo{
    color: #ff007a;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
} 

.select-status::after{
    content: "\25BC";
    position: absolute; 
    background: #ff007a;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
} 

.select-status::hover::after{
    background: white;
    color: #ff007a;
} */

select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    height: 3.2rem;
    color: #ff007a;
    width: 12rem;
  }
  
  .select-status {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin: 1rem;
    overflow: hidden;
  }
  
  .select-status::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    /*transform: translateY(-50%);*/
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #000;
    pointer-events: none;
    transition: all 0.3s ease;
    
  }
  
  .select-status:hover::after {
    /*transform: translateY(-50%) rotate(180deg);*/
    background: #fff;
    color: #ff007a;
  }

  .select-status .filter-todo{
    width: 150px;
    border-radius: 50px;
  }
  
  
